h1{
			text-align: center;

		}
html{height: 100%;}
h2{
	text-align: center;
}
#feed{
	text-align: center;
}
body{
	background-image: url(picture3.jpg);
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%
}
#submit{
	color: white;
	background: green;
	padding: 5px 20px 5px 20px;
}
#mytext{border:5px solid grey;
font-family: 'Roboto Mono', monospace;
font-size: 14;}
#output{
	margin-right: 25%;
	margin-left: 25%;
	padding: 8% 10% 5% 10%;
	background: white;
	border-radius: 10px;
	text-align: center;
}